.cuenta{
    display: none !important;
}

.usuario{
    display: flex !important;
}

.cont-eps{
    display: none !important;
}

/*---------------------------------*/
.principal{
    display: flex;
    flex-wrap: wrap;
}
.portada{
    display: flex;
    justify-content: space-around;
    padding: 40px 10%;
}

.portada .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portada .texto{
    width: 100%;
}

.portada .texto h2{
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.portada .texto h3{
    margin-bottom: 20px;
}

.portada .texto a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(21, 150, 209);
    font-weight: bold;
}

.portada .texto a i{
    font-size: 1.5rem;
    margin-right: 10px;
}

.portada .texto a:hover{
    color: rgb(0, 0, 0);
}

.portada .texto p{
    font-size: 1.2rem;
    margin: 10px 0;
}

.portada .imagen{
    display: flex;
    align-items: center;
}

.portada .imagen img{
    width: 450px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
}


/*---------------------------------------------*/

@media screen and (max-width: 800px) {

    .portada{
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .portada .imagen img{
        margin-top: 50px;
        width: 300px;
    }

    .portada .texto{
        width: auto;
    }

}

.paciente{
    margin:30px;
    border: solid .5px;
    padding:10px;
    width:min-content;
}