<link rel="stylesheet" href="../css/partials/footer.css">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<footer>

    <div>

    </div>
    <div class="footer-bottom">
        <div class="cont-eps">
            <div class="info">
                <h3><b>OBSalud</b></h3>

                <p><b>Lineas de atencion cartagena 3008334382</b></p>
                <p><b>Linea nacional 01800 323 425</b></p>
                <p><b>Cartagena, Bolivar, Colombia.</b></p>
                <p class="rec">Se recomienda utilizar Google Chrome o Firefox Mozilla.</p>
            </div>
            <div class="imagenes">
                <img src="../img/logo-min-salud.png" alt="">
                <img src="../img/logoSupersalud2021.png" alt="">
            </div>
        </div>
        <div class="cont-derechos">
            <p>© Copyright 2022 - Todos los derechos reservados - Desarrollado por <a href="#">Oswaldo, John e Ivan</a></p><span></span>
            <a href="#">Mapa de sitio</a><span></span>
            <a href="#">Política de seguridad de la información</a><span></span>
            <a href="#">Política de tratamiento de datos personales</a>
        </div>
    </div>
</footer>